{% extends 'base.html.twig' %}

{% block body %}

<h1>Gestion des posts</h1>

{% if posts is empty %}
    <p>Aucun post</p>
{% else %}
    {% for post in posts %}
        <div style="margin-bottom:20px; padding:10px; border:1px solid #ccc;">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>

            <form method="post"
                  action="{{ path('app_admin_post_delete', {'id': post.id}) }}">
                <button style="background:red; color:white;">
                    Supprimer
                </button>
            </form>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
