{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
   <p>
    Si un compte correspondant à votre adresse e-mail existe, un message contenant un lien de réinitialisation vient de vous être envoyé.
    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>

<p>
    Si vous ne recevez pas d'e-mail, pensez à vérifier vos courriers indésirables (spam) ou
    <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
</p> 

{% endblock %}
