{% extends 'base.html.twig' %}

{% block title %}Modifier un post{% endblock %}

{% block body %}



{{ form_start(form) }}
{{ form_widget(form) }}

<button class="btn btn-primary">Modifier</button>


{{ form_end(form) }}
{% endblock %}