{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}

<h1>Liste des posts</h1>
<div>
{% for post in posts %}
   <h2>
   <a href="{{ path ('app_post_show', {'id': post.id} ) }}">
   {{post.title}}
   </a>
   </h2>
    <p>{{post.content}}<p> 
{% endfor %}

</div>

{% endblock %}
